@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

div.introduction {
  display: flex;
  height: 100vh;
  margin: auto auto auto 64px;

  div.about-components {
    background: white;
    border-radius: 0 50vh 50vh 0;
    box-shadow: 20px 0 0 0 rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
    width: max(calc(31rem + 30vh), calc(100vw - 40rem));
    z-index: 1;

    h3 {
      font-size: 3rem;
      font-weight: 700;
    }

    span {
      display: block;
      font-size: 1.5rem;
      font-weight: 600;
    }
  }

  img {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: calc(100vw - 64px - max(calc(31rem + 30vh), calc(100vw - 39rem)) + 50vh);
    min-height: 100vh;
  }
}

div.business-card {
  align-content: space-between;
  border: black solid 3px;
  border-radius: 1.92rem;

  display: flex;
  margin: 1.44rem;
  flex-wrap: wrap;
  position: relative;

  width: 24.3rem;
  height: 38.7rem;
  font-family: Pretendard;

  div.business-card-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    margin: 1.44rem;
    width: 100%;
    height: 5.76rem;
    justify-content: center;

    span.business-card-header-title {
      color: #0070EE;
      font-size: 3.78rem;
      font-weight: 700;
      word-wrap: break-word;
      line-height: 3.78rem;
    }

    span.business-card-header-subtitle {
      color: black;
      font-size: 1.8rem;
      font-weight: 700;
      word-wrap: break-word;
      line-height: 1.8rem;
    }

    img.business-card-qrcode {
      width: 5.76rem;
      height: 5.76rem;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  div.business-card-footer {
    display: flex ;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 1.44rem;

    span.business-card-footer-title {
      color: black;
      font-size: 2.16rem;
      font-weight: 700;
      line-height: 2.34rem;
      word-wrap: break-word;
    }

    div.business-card-item {
      color: black;
      font-size: 1.44rem;
      font-weight: 600;
      line-height: 2.34rem;
      word-wrap: break-word;
    }
  }
}